

.login-app{
  width: 348px;
  margin-bottom: 60px;
}

.login-header{
  display: flex;
}
.login-header input[type="radio"]{
  display: none;
}
.login-header label{
  background-color: #f5f5f6;
  font-size: 18px;
  color: rgba(37, 38, 43, .36);

  padding: 16px;
  text-align: center;
  width: 100%;
  /* 这里并不是非得100%,利用的是flex的自动收缩,只要大于1/3就好了 */

  cursor: pointer;
}
#bottom{
margin-top:10px;
}
#bottom a{
text-decoration:none;
color: black;
}
#bottom a:hover{
color: red;
}

.login-body{
    box-shadow: 3px 3px 2px 2px #666;
    position:absolute;
    left:780px;
    top:100px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  width: 450px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#form-bar{
  display: flex;

  transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.login-body form{
  flex-shrink: 0;
  width: 100%;

  box-sizing: border-box;
  padding: 22px;

  position: relative;
}

.login-body input{
  outline: none;
  width: 100%;
  box-sizing: border-box;
  height: 46px;
  margin-bottom: 16px;
  background-color: rgba(39, 39, 41, .04);
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  font-size: 14px;
  padding: 1px 12px;
  color: #25262b;
}
.login-body input::placeholder{
  color: rgba(37, 38, 43, .36);
}
.login-body input:focus{
  border: 1px solid rgba(99, 125, 255, .48);
  background-color: #fff;
}

.m-form .vercode-btn{
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: #637dff;
  background-color: transparent;
  border: 1px solid rgba(99, 125, 255, .24);

  position: absolute;
  right: 36px;
  margin: 8px 0;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.login-body .login-btn{
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    129.12deg,/* 沿着这个角度的线渐变 */
    rgb(42,63,84),/* 渐变起始颜色 */
    rgba(42,63,84, .75)/* 渐变终点颜色 */
  );

  color: #fff;
  font-size: 16px;

  margin-top: 16px;
  margin-bottom: 20px;
}

button{
  cursor: pointer;
}

.m-form #sure{
  display: none;
}
.m-form label.tobesure{
  position: absolute;
  border:  2px solid rgba(132, 133, 141, .2);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;

  left: 22px;
}
#sure:checked + label.tobesure{
  background-color: #637dff;
}