<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医生信息更新</title>
</head>
<body>
<!--  d对应updatepatient中的local（） -->
<form action="/manager/updatedoctor/{{ d.id }}" method="post">
    <p>
        姓名：<input type="text" value="{{ d.name }}" disabled="disabled">
    </p>
    <p>
        性别：<input type="text" name="gender" value="{{ d.gender }}">
    </p>
    <p>
        年龄：<input type="text" name="old" value="{{ d.old }}">
    </p>
    <p>
        科室：<input type="text" name="department" value="{{ d.department }}">
    </p>
    <p>
        电话：<input type="text" name="phonenumber" value="{{ d.phonenumber }}">
    </p>
    <p>
        门诊号：<input type="text" name="outpatient_id" value="{{ d.outpatient_id }}">
    </p>


    <input type="submit" value="更新">

</form>
</body>
</html>