<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/register.css">
    <title>注册</title>

</head>
<body>
<div>
    <h1>病人注册</h1>
</div>
<div class="login-body">
<div id="form-bar">
    <form method="post" action="/login/register/" >

            <input type="text" name="name" placeholder="请输入姓名">
            <input type="text" name="gender" placeholder="请输入性别">
            <input type="text" name="old" placeholder="请输入年龄">
            <input type="text" name="phonenumber" placeholder="请输入电话号码">
            <input type="text" name="address" placeholder="请输入地址">
            <input type="text" name="password" placeholder="请输入密码">
             <input type="submit" value="登录" id="login" style="display:none">
            <button for="login" class="login-btn">注册</button>
        </form>
</div>
</div>
<div id="bottom">
    <a href="/login/">返回登录</a>
</div>
</body>
</html>